{% extends "template.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="/result">

    <div align="center", class="w-50 p-3">
        <div>
            <b>Select stream from file:</b>
            <br>(make sure required file is in the 'resources' directory)
            <br>
            <br>{{ form.firstPathSelect.label }}
            <br>{{ form.firstPathSelect }}
            <br>
            <br>{{ form.secondPathSelect.label }}
            <br> {{ form.secondPathSelect }}
            <br>
            <br>{{ form.switcherSelect.label }} (Threshold value)
            <br> {{ form.switcherSelect }} <input type="number" name="threshold" min="1" max="100">
            <br><br>
        </div>
        {{ form.submit}}
    </div>
</form>
{% endblock %}